.container {
  width: 100%;
  height: 100%;
  background-image: url(./imgs/pattern-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: 1/ 1 / span 2 / span 1;
}

@media screen and (max-width:'768px') {
  .container{
    background-image: url(./imgs/pattern-bg-mobile.png);
  }
}
